<div id="user_nav">
  <div class="manage_session">
    <% if current_user %>
      Signed in as <%= current_user.name %>
      <%= link_to "Sign out", signout_path %>
    <% else %>
      <%= link_to "Sign in with Runkeeper", "/auth/runkeeper"%><br/>
      <%= link_to "Sign in with Facebook", "/auth/facebook", id: "fb_link" %>
    <% end %>
  </div>
</div>
