<div class="leaderboard">
  <div class="leaderboard_title">LEADERBOARD</div>
  <table class="table table-striped">
    <tbody>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Homie G', :progress => '250', :amt => '120'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Julie', :progress => '210', :amt => '83'} %>
      <%= render :partial => "shared/leaderboard_item", :locals => {:name => 'Susan', :progress => '150', :amt => '60'} %>
    </tbody>
  </table>
</div>
