<tr>
  <td><img src="http://lorempixel.com/40/40/sports/<%= (1..10).to_a.sample %>"></td>
  <td><%= name %></td>
  <td>
    <progress max="100" style="width: <%= progress %>px;">
    </progress>
  </td>
  <td>
    <%= amt %>mi
  </td>
</tr>
