<div id="tabs">
  <div id="#tabs_container">
    <ul id="#home_tabs">
      <li><a href="#live" onclick="return false;">Live</a></li>
      <li><a href="#completed" onclick="return false;">Completed</a></li>
      <li><a href="#leaderboard" onclick="return false;">Leaderboard</a></li>
    </ul>
  </div>
  <div id="live">
    <h1>HAY GURL</h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Picture</th>
     
      </tr>

    <% @funds.each do |fund| %>
      <tr>
        <td><%= fund.name %></td>
        <td><%= image_tag(fund.avatar_url) %></td>
     
      </tr>
    <% end %>
    </table>
    <%- if current_user && @user_runs %>
      <p>These are the runs you've done: </p>
      <%- @user_runs.each_with_index do |activity, index| %>
        <p>You just ran <%= (activity["total_distance"]/1609.34).round(3) %> miles.</p>
      <% end %>
    <% end %>
  </div>
  <div id="completed">
    <h1>UGH<h1>
  </div>
  <div id="leaderboard">
    <h2>UGH AGAIN</h2`>
  </div>
</div>
