Hello!


These are the runs you've done:

<%- @user.fitness_activities.parsed_response["items"].each_with_index do |activity, index| %>
  <p>You just ran <%= (activity["total_distance"]/1609.34).round(3) %> miles.</p>
<% end %>