body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #252222;
}

.top_fold_signed_out {
  display: block;
  background: url('/assets/content_background.jpg') no-repeat center;
  height: 662px;
}

.top_fold_signed_in {
  display: block;
  background: url('/assets/loggedin_background.jpg') no-repeat center;
  height: 662px;
}
